@import '../sidebar/sidebar.scss';

.btnSubmit {
  background-color: $colorDarkGreen;
  border: none;
  color: $colorWhite;
  border-radius: 5px;
  margin-top: 2rem;
  width: 100px;
  height: 50px;
  margin-right: 2rem;
  &:hover {
    cursor: pointer;
    background-color: $colorLightGreen;
    transition: 0.3s;
  }
  &:disabled {
    background-color: $colorGray;
  }
}

.btnClear {
  background-color: $colorDarkRed;
  border: none;
  color: $colorWhite;
  border-radius: 5px;
  margin-top: 2rem;
  width: 100px;
  height: 50px;
  &:hover {
    cursor: pointer;
    background-color: $colorLightRed;
    transition: 0.3s;
  }
}

.btnLogout {
  background-color: $colorDarkRed;
  border: none;
  color: $colorWhite;
  border-radius: 5px;
  width: 70px;
  height: 50px;
  margin-top: 25rem;
  transition: all 0.5s ease;
  margin-left: 0.3rem;
  &:hover {
    cursor: pointer;
    background-color: $colorLightRed;
    transition: 0.3s;
  }
}

.btn {
  background-color: $colorDarkGreen;
  border: none;
  color: $colorWhite;
  border-radius: 5px;
  width: 70px;
  height: 50px;
  margin-top: 25rem;
  transition: all 0.5s ease;
  margin-left: 0.3rem;
  &:hover {
    cursor: pointer;
    background-color: $colorLightGreen;
    transition: 0.3s;
  }
}

@media only screen and (max-width: 1440px) {
  .btnLogout {
    margin-top: 22rem;
  }

  .btn {
    margin-top: 22rem;
  }
}

@media only screen and (max-width: 1201px) {
  .btnLogout {
    margin-top: 22rem;
  }

  .btn {
    margin-top: 22rem;
  }
}

@media only screen and (max-width: 1200px) {
  .btnLogout {
    margin-top: 22rem;
  }

  .btn {
    margin-top: 22rem;
  }
}

@media only screen and (max-width: 1024px) {
  .btnLogout {
    margin-top: 22rem;
  }

  .btn {
    margin-top: 22rem;
  }
}

@media only screen and (max-width: 769px) {
  .btnLogout {
    margin-top: 22rem;
  }

  .btn {
    margin-top: 22rem;
  }
}



@media only screen and (max-width: 768px) {
  .btnLogout {
    margin-top: 22rem;
  }

  .btn {
    margin-top: 22rem;
  }
}

@media only screen and (max-width: 481px) {
  .btnLogout {
    margin-top: 22rem;
  }

  .btn {
    margin-top: 22rem;
  }
}

@media only screen and (max-width: 480px) {
  .btnLogout {
    margin-top: 22rem;
  }

  .btn {
    margin-top: 22rem;
  }
}

@media only screen and (max-width: 320px) {
  .btnLogout {
    margin-top: 22rem;
  }

  .btn {
    margin-top: 22rem;
  }
}
