.tabs-container *,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

.bloc-tabs {
  display: flex;
  height: 50px;
  margin-left: 80px;
}

.tabs {
  padding: 15px;
  text-align: center;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
  margin-left: 50px;
}

.bloc-tabs a {
  width: 200px;
  text-decoration: none;
  color: $colorBlack;
}

.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.tab:not(:last-child) {
  border-left: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}

.tabs-container button {
  border: none;
}


@media only screen and (max-width: 1201px) {
  .tabs-container {
    position: relative;
  }

  .bloc-tabs {
    margin-left: -100px;
  }
  .bloc-tabs a {
    width: 250px;
  }

  .tabs {
    margin-top: 20px;
    width: 120px;
  }

  .content {
    left: 27.5%;
    top: 10%;
  }
}

@media only screen and (max-width: 1200px) {
  .tabs-container {
    position: relative;
  }

  .bloc-tabs {
    margin-left: -100px;
  }

  .bloc-tabs a {
    width: 250px;
  }

  .tabs {
    margin-top: 20px;
    width: 120px;
  }

  .content {
    left: 27.5%;
    top: 10%;
  }
}

@media only screen and (max-width: 1025px) {
  .tabs-container {
    position: relative;
  }

  .bloc-tabs {
    margin-left: 250px;
  }

  .bloc-tabs a {
    width: 250px;
  }

  .tabs {
    margin-top: 20px;
    width: 120px;
  }

  .content {
    left: 28.5%;
    top: 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .tabs-container {
    position: relative;
  }

  .bloc-tabs {
    margin-left: 250px;
  }

  .bloc-tabs a {
    width: 250px;
  }

  .tabs {
    margin-top: 20px;
    width: 120px;
  }

  .content {
    left: 26.5%;
    top: 10%;
  }
}

@media only screen and (max-width: 769px) {
  .tabs-container {
    margin-left: 315px;
    width: 10px;
  }

  .bloc-tabs {
    margin: 0;
    flex-direction: column;
    width: 10px;
  }

  .bloc-tabs a {
    width: 50px;
  }

  .tabs {
    margin-top: 20px;
    width: 180px;
  }

  .content {
    left: 38%;
    width: 30%;
    top: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .tabs-container {
    margin-left: 315px;
    width: 10px;
  }

  .bloc-tabs {
    margin: 0;
    flex-direction: column;
    width: 10px;
  }

  .bloc-tabs a {
    width: 50px;
  }

  .tabs {
    margin-top: 20px;
    width: 180px;
  }

  .content {
    left: 38%;
    width: 30%;
    top: 45%;
  }
}

@media only screen and (max-width: 481px) {
  .tabs-container {
    margin-left: 195px;
    width: 10px;
  }

  .bloc-tabs {
    margin: 0;
    flex-direction: column;
    width: 10px;
  }

  .bloc-tabs a {
    width: 50px;
  }

  .tabs {
    margin-top: 20px;
    width: 180px;
  }

  .content {
    left: 37%;
    width: 40%;
    top: 45%;
  }
}

@media only screen and (max-width: 480px) {
  .tabs-container {
    margin-left: 185px;
    width: 10px;
  }

  .bloc-tabs {
    margin: 0;
    flex-direction: column;
    width: 10px;
  }

  .bloc-tabs a {
    width: 50px;
  }

  .tabs {
    margin-top: 20px;
    width: 180px;
  }

  .content {
    left: 35%;
    width: 40%;
    top: 45%;
  }
}

@media only screen and (max-width: 320px) {
  .tabs-container {
    margin-left: 115px;
    width: 10px;
  }

  .bloc-tabs {
    margin: 0;
    flex-direction: column;
    width: 10px;
  }

  .bloc-tabs a {
    width: 50px;
  }

  .tabs {
    margin-top: 20px;
    width: 150px;
  }

  .content {
    left: 40%;
    width: 35%;
    top: 45%;
  }
}
