.home-container {
  position: absolute;
  margin-left: 450px;
  width: 100%;
  height: 300px;
  margin-top: 100px;
  word-break: break-all;
  display: flex;  
}

.content-home {
  flex-grow: 1;
}

.content {
  background: white;
  padding: 20px;
  width: 70%;
  height: 100%;
  position: absolute;
  top: 17%;
  right: 0;
  left: 6%;
  word-break: break-all;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100%;
  background: #222;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
