  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #11101d;
    color: #fff;
    font-family: 'Fredoka', sans-serif;
  }

  .text {
    margin-top: 25px;
  }

  @media only screen and (max-width: 769px) {
    .header {
      left: 5%;
    }
  }


  @media only screen and (max-width: 768px) {
    .header {
      left: 5%;
    }
  }


  @media only screen and (max-width: 481px) {
    .header {
      left: 13%;
    }
  }

  @media only screen and (max-width: 480px) {
    .header {
      left: 13%;
    }
  }

  @media only screen and (max-width: 320px) {
    .header {
      left: 15%;
    }
  }