$colorDarkBlue: #11101d;
$colorWhite: #fff;
$colorBlack: #000;
$colorGray: gray;
$colorLightGreen: rgb(6, 192, 6);
$colorDarkGreen: rgb(3, 109, 3);
$colorLightRed: red;
$colorDarkRed: rgb(161, 1, 1);

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background-color: $colorDarkBlue;
  padding: 6px 14px;
  color: $colorWhite;
  transition: all 0.5s ease;
}

.sidebar-active {
  width: 240px;
}

.sidebar-active .tooltip {
  display: none;
}

.sidebar-active .bx-menu {
  left: 90%;
}

.sidebar .sidebar-text {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar-active .sidebar-text {
  opacity: 1;
  pointer-events: auto;
}

.sidebar-active li a {
  display: none;
  text-decoration: none;
  color: $colorWhite;
}

.sidebar-active li a {
  display: inline;
}

.sidebar li a {
  display: none;
  text-decoration: none;
  color: $colorWhite;
}

.sidebar li a {
  display: inline;
}

.sidebar-active .btn {
  width: 100px;
  margin-left: 60px;
  transition: all 0.5s ease;
}

.sidebar-active .btnLogout {
  width: 100px;
  margin-left: 60px;
  transition: all 0.5s ease;
}

.common {
  height: 50px;
  width: 70%;
  position: relative;
  margin: auto;
  line-height: 50px;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
  &:hover {
    color: $colorDarkBlue;
    background-color: $colorWhite;
  }
}

.nav-active {
  color: rgb(19, 199, 19)!important;
  background-color: rgb(81, 236, 81)!important;
}

.sidebar-active .common {
  width: 100%;
}

.home-page {
  margin-top: 80px;
}

.tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-20%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  line-height: 35px;
  background-color: $colorWhite;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  color: $colorBlack;
  text-align: center;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.home-page,
.messages,
.file-manager,
.contacts,
.dashboard,
.table,
.user {
  position: relative;
  &:hover .tooltip {
    transition: all 0.5s ease;
    top: 50%;
    color: $colorBlack;
    opacity: 1;
  }
}


