.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: #11101d;
  color: #fff;
  font-family: 'Fredoka', sans-serif;
}

.text {
  margin-top: 25px;
}