@import './components/pages/login-page/login-page.scss';
@import './components/button/button.scss';
@import './components/show-sidebar/show-sidebar.scss';
@import './components/sidebar/sidebar.scss';
@import './components/header/header.scss';
@import './components/footer/footer.scss';
@import "./components/home/home.scss";
@import "./components/tabs/tabs.scss";
  

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.app {
  font-family: 'Fredoka', sans-serif;
}

.bx {
  height: 50px;
  min-width: 55px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}

.buttons {
  text-align: center;
}

li {
  list-style-type: none;
  margin: 0;
  left: 0;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.component-text {
  position: absolute;
  height: 100%;
  width: calc(50% - 78px);
  top: 40%;
  left: 27%;
  text-align: center;
  color: #000;
}

.loading {
  position: absolute;
  height: 100%;
  width: calc(50% - 78px);
  top: 40%;
  left: 27%;
  text-align: center;
  color: #000;
}

@media only screen and (max-width: 1201px) {
  .component-text {
    left: 28%;
    font-size: 35px;
  }
  .bx-menu {
    left: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .component-text {
    left: 28%;
    font-size: 35px;
  }
  .bx-menu {
    left: 50%;
  }
}

@media only screen and (max-width: 1025px) {
  .component-text {
    left: 30%;
    font-size: 35px;
  }
  .bx-menu {
    left: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .component-text {
    left: 30%;
    font-size: 35px;
  }
  .bx-menu {
    left: 50%;
  }
}

@media only screen and (max-width: 769px) {
  .component-text {
    left: 35%;
    font-size: 30px;
  }
  .bx-menu {
    left: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .component-text {
    left: 35%;
    font-size: 30px;
  }
  .bx-menu {
    left: 50%;
  }
}

@media only screen and (max-width: 481px) {
  .component-text {
    left: 45%;
    font-size: 30px;
  }
  .bx-menu {
    left: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .component-text {
    left: 45%;
    font-size: 25px;
  }
  .bx-menu {
    left: 50%;
  }
}

@media only screen and (max-width: 320px) {
  .component-text {
    left: 50%;
    font-size: 25px;
  }
  .bx-menu {
    left: 50%;
  }
}
