.container {
  width: 600px;
  height: 500px;
  margin: auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-top: 100px;
}

.login {
  margin-right: 170px;
  text-align: center;
}

.commonInput {
  position: relative;
}

.errorLogin {
  display: block;
  text-align: center;
  height: 10px;
  color: red;
  position: absolute;
  right: 0;
  left: 0;
  top: 2.5rem;
}

.password {
  margin-right: 135px;
  text-align: center;
}

.errorPassword {
  display: block;
  text-align: center;
  height: 10px;
  color: red;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 4rem;
}

.inputText {
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.75rem 0.75rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  appearance: none;
  border-radius: 6px;
  margin: auto;
  margin-top: 40px;
  display: block;
  &:enabled:hover {
    border-color: #6366f1;
  }
  &:focus {
    outline: 0 none;
    box-shadow: 0 0 0 0.2rem #c7d2fe;
    border-color: #6366f1;
  }
}

.authorizing {
  text-align: center;
  margin-top: 50px;
}
